@model IEnumerable<MyTrainer.Models.UserPhotos>

@{
    ViewBag.Title = "Index";

}

<body style="background-color:#2c2151;">
<br />
<br />
<br />
<br />
<div class="row">
<div class="col-md-12">
@foreach (var item in Model)
{

    <img id="myImg" style="height:400px; border-color:black; border-width:4px; width:400px; margin-left:725px;" src="@item.FileName">
    <div class="row" style="text-align:center; color:white; text-decoration:none;">
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
 @Html.ActionLink("Details", "Details", new { id = item.Id }) |
@Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
}

</div>

</div>
<div class="row">
@using (Html.BeginForm("FileUpload", "UserPhotos", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset style="text-align:center; color:white;">
        <legend style="color:white;">UPLOAD PICTURE TO SHOW YOUR PROGRESS!</legend>
        <div class="editor-label">
            <label style="color:white;">Upload</label>
        </div>
        <div class="editor-field" style="margin-left:925px;">
            <input style="font-weight:bolder; border-radius:10px;" id="Picture" title="Upload a product image"
                   type="file" name="file" />
        </div><br />
        <p><input style="font-weight:bolder; border-radius:10px;" type="submit" value="Upload" /></p>
    </fieldset>
}

</div>
</body>