@model IEnumerable<MyTrainer.Models.BasicMealPlan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProteinIntake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarbIntake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatIntake)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProteinIntake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarbIntake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatIntake)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
