@model MyTrainer.Models.MealPlan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MealPlan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.VeganId)
        @Html.HiddenFor(model => model.VegetarianId)
        @Html.HiddenFor(model => model.BasicId)
        <div class="form-group">
           <div class="col-md-10">
             Basic
                <div class="radio">
                    @Html.RadioButtonFor(model => model.MealPlanType,"Basic", new { htmlAttributes = new { @class = "form-control" } })
                    <input checked="checked" id="MealPlanType" name="MealPlanType" type="radio" value="Basic" />
               </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Vegetarian
                <div class="radio">
                    @Html.RadioButtonFor(model => model.MealPlanType,"Vegetarian", new { htmlAttributes = new { @class = "form-control" } })
                    <input id="MealPlanType" name="MealPlanType" type="radio" value="Vegetarian" />
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Vegan
                <div class="radio">
                    @Html.RadioButtonFor(model => model.MealPlanType,"Vegan", new { htmlAttributes = new { @class = "form-control" } })
                    <input id="MealPlanType" name="MealPlanType" type="radio" value="Vegan" />
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
